// Element Query hooks
// -------------------
// Based on the below, when element width == 320
//   <div class="module" max-width="768 1024" />
// When element width == 800
//   <div class="module" min-width="768" max-width="1024" />
// When element width == 1024
//   <div class="module" min-width="768 1024" />

[eq]:before {
  speak: none; // May prevent screen readers from reading content (in those 
    // browsers that read generated conte to begin with) 
  display: none; // Don't show the content
}


.module:before {
  content: "320 768 1024"; // Javascript uses these to add attributes on this 
    // element based on its width.
}


.module {
  // Default styling...
}


.module[min-width~="768"] {
  // 2x col layout styles
  // ...
}


.module[min-width~="1024"] {
  // Massive styles
  // ...
}
